.goToTop
      {
          position: fixed;
          width: 100px;
          height: 40px;
          bottom: 0;
          right: 0;
          z-index: 100000;
          cursor: pointer;
          margin: 10px;
          -moz-opacity: 1;
          filter: alpha(opacity=100);
      }
