@import url('https://fonts.googleapis.com/css?family=Cookie');
.logo .logo-image{
  width: 100px !important;
}
.logo-container .logo{
  overflow: inherit;
}
body{
  background-color: #FFFCF5;
}
.logo-container .logo{
  border-radius: 0% !important;
  border: 0px;
  /*width: 100px;*/
}
#navbar-top-banner{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}
#cogniCarousel{
  width: inherit;
  /*top: 0px;
  left: 0px;
  right: 0px;*/
  z-index: 0;
}
.carousel-inner{
  background-color: #D5F8DF;
}
.main-content{
  position: relative;
  display: block;
  z-index: 0;
}

/*.custom-navbar{
  opacity: 0.7;
}*/
.input-group{
  padding: 15px;
}
.follow-input{
  height: 60px !important;
  font-size: 25px;
  text-align: center;
}
.container-fluid{
  padding: 0px !important;
}
.register-background{
  left: 0px;
  top:0px;
}
a{
  cursor: pointer !important;
}
#i_frame{
  position: relative;
  height: 500px;
  width: 100%;
  align-content: center;
}
.magFrame{
  padding: 0px;
}

#cogniOwlCarousel .item{
  margin: 3px;
}
#cogniOwlCarousel .item img{
  display: block;
  width: 100%;
  height: auto;
}


.noshadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}
.card{
  background-color: antiquewhite;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5)
}
.post-image{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.social-btn{
  border-radius: 100%;
  padding-right: 2px;
  padding-left: 4px;
}
.social-fb:hover{
  background-color: #3b5998;
  color: white;
  border-color: #3b5998;

}
.social-gp:hover {
  background-color: #d34836;
  border-color: #d34836;
  color: white;
}
.social-pk:hover {
  background-color: #ef4056;
  border-color: #ef4056;
  color: white;
}
.social-ws:hover {
  background-color: #25d366;
  border-color: #25d366;
  color: white;
}
.social-tw:hover {
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: white;
}


.goToTop
      {
          position: fixed;
          width: 100px;
          height: 40px;
          bottom: 0;
          right: 0;
          z-index: 100000;
          cursor: pointer;
          margin: 10px;
          -moz-opacity: 1;
          filter: alpha(opacity=100);
      }


.coffee{
  z-index: -1;
}
.coffee:after{
  z-index: -1;
}
.coffee:before{
  z-index: -1;
}
.demo-header-image{
  background-image: url('../img/cognizanceHeaderImage.jpg');
  min-height: 100vh;
}

.goToPosts{
  position: relative;
  padding: 50px;
}
.goToPosts .btn{
  position: relative;
}
.demo-header .motto{
  padding-top: 37.5vh;
}
.logo-image .img-circle{
  height: 100px !important;
  width: 100px !important;
}
.my-table{
  border: 0px solid black;
  text-align: center;
}
.email-input-submit{
  background: inherit;
  border: none;
}
td{
  padding: 2px 15px;
}


/*about us section css*/
.item {
  height: auto;
  float: left;
  padding: 0;
  position: relative;
  background-color: black;
}

.item:hover img {
  opacity: 0.3;
}

.item:hover .team-quote {
  opacity: 1;
}

.item img {
  padding: 0;
  width: 100%;
  display: block;
  opacity: 1;
}

.item img,
.team-quote {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.team-quote {
  position: absolute;
  color: white;
  left: 0;
  top: 15%;
  right: 0;
  bottom: 30%;
  text-align: center;
  opacity: 0;
}
.team-quote p{
  font-size: 32px;
  font-family: 'Cookie', cursive;
}
.navbar-toggle .icon-bar{
  background: currentColor;
}
