<div class="section section-nude landing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tim-title text-center">
          <h3>Who Are We?</h3>
        </div>
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
              <li class="active">
                <a href="#CognizanceOverview" data-toggle="tab" aria-expanded="true">
                  Cognizance Overview
                </a>
              </li>
              <li>
                <a href="#OurTeam" data-toggle="tab" aria-expanded="true">
                  Our Team
                </a>
              </li>
              <li>
                <a href="#BVPIEEE" data-toggle="tab" aria-expanded="true">
                  About BVPIEEE
                </a>
              </li>
              <li>
                <a href="#HKN" data-toggle="tab" aria-expanded="true">
                  About HKN
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-light-blue landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Keep in touch?</h2>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                            <input class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <input class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-danger btn-block btn-lg btn-fill" ng-click="sendMessage();">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
