<div class="section section-nude landing-section" id="scrollToSection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tim-title text-center">
          <h3>Who Are We?</h3>
        </div>
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
              <li class="active">
                <a data-target="#CognizanceTeam" data-toggle="tab" aria-expanded="true">
                  Cognizance
                </a>
              </li>
              <li>
                <a data-target="#BVPIEEE" data-toggle="tab" aria-expanded="true">
                  BVPIEEE
                </a>
              </li>
              <li>
                <a data-target="#HKN" data-toggle="tab" aria-expanded="true">
                  HKN - Lambda Eta
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div id="my-tab-content" class="tab-content text-center">
          <div class="tab-pane active" id="CognizanceTeam">
              <p>Here is information about our cognizance team.</p>
              <div id="cogniOwlCarousel" class="owl-carousel owl-theme">
                <!-- <div class="item">
                  <img class="lazyOwl" data-src="img/cogni-website-images1.jpg">
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/cogni-website-images2.jpg" alt="some people" />
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/cogni-website-images1.jpg">
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/cogni-website-images2.jpg" alt="some people" />
                </div><div class="item">
                  <img class="lazyOwl" data-src="img/cogni-website-images1.jpg">
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/cogni-website-images2.jpg" alt="some people" />
                </div><div class="item">
                  <img class="lazyOwl" data-src="img/cogni-website-images1.jpg">
                </div>
                <div class="item">
                  <img class="lazyOwl"data-src="img/cogni-website-images2.jpg" alt="some people" />
                </div> -->
              </div>
          </div>
          <div class="tab-pane" id="BVPIEEE">
              <p>Here is your BVPIEEE content.</p>
          </div>
          <div class="tab-pane" id="HKN">
              <p>Here is your HKN content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-light-blue landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Keep in touch?</h2>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                            <input class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <input class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-danger btn-block btn-lg btn-fill" ng-click="sendMessage();">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
