<div class="section section-nude" id="scrollToSection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tim-title text-center">
          <h1>Who Are We?</h1>
        </div>
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
              <li class="active">
                <a data-target="#CognizanceTeam" data-toggle="tab" aria-expanded="true">
                  <h4>Cognizance</h4>
                </a>
              </li>
              <li>
                <a data-target="#BVPIEEE" data-toggle="tab" aria-expanded="true">
                  <h4>BVPIEEE</h4>
                </a>
              </li>
              <li>
                <a data-target="#HKN" data-toggle="tab" aria-expanded="true">
                  <h4>HKN - Lambda Eta</h4>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div id="my-tab-content" class="tab-content text-center">
          <div class="tab-pane active" id="CognizanceTeam">
              <p>Here is information about our cognizance team.</p>
              <div id="cogniOwlCarousel" class="owl-carousel owl-theme">
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/DeepanshuKapoor1.jpg">
                  <div class="team-position">
                    <h5>Deepanshu Kapoor</h5>
                    <p>Editor-in-Chief</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/Ychoclate?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                    <p>Creativity is an unfettered thing; it will spill into every possible realm.</p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/KanikaSharma.jpg" />
                  <div class="team-position">
                    <h5>Kanika Sharma</h5>
                    <p>Mentor, Editorial</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/profile.php?id=100008201282691&fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                    <p>Description</p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/Vaishnavi.jpg" />
                  <div class="team-quote">
                    <p>Description</p>
                  </div>
                  <div class="team-position">
                    <h5>Vaishnavi Mendiratta</h5>
                    <p>Mentor, Design Team</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/vaishnavi.mendiratta"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/ShashwatGulyani.JPG">
                  <div class="team-quote">
                    <p>In stories, endings matter. Outcomes, less so.</p>
                  </div>
                  <div class="team-position">
                    <h5>Shashwat Gulyani</h5>
                    <p>Web Executive</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/shashwat.gulyani"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                      <a style="color: currentColor" href="https://github.com/shashwat2519"><i class="fa fa-github-alt"></i></a>
                    </p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/SanyamGoel.jpg">
                  <div class="team-quote">
                    <p>It seems hard only because it is! I do it not 'because' of the difficulty but 'despite' it.</p>
                  </div>
                  <div class="team-position">
                    <h5>Sanyam Goel</h5>
                    <p>Mentor, Web Team</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/Ychoclate?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/AmitPandey.jpg">
                  <div class="team-quote">
                    <p>"A soul to be tasted, a puzzle to be solved."</p>
                  </div>
                  <div class="team-position">
                    <h5>Amit Pandey</h5>
                    <p>Column Executive</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/Ychoclate?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>

                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/RahulBhalsodia.jpg">
                  <div class="team-position">
                    <h5>Rahul Bhalsodia</h5>
                    <p>Column Executive</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/ambivertgentleman?fref=hovercard"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                    <p>Description</p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/Lovish.jpg">
                  <div class="team-position">
                    <h5>Lovish</h5>
                    <p>Columnist</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/Ychoclate?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/AnushaRama.jpg">
                  <div class="team-position">
                    <h5>Anusha Ramachandran</h5>
                    <p>Columnist, Proofreader</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/Ychoclate?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                    <p>I am happy-go-lucky, never-to-worry and always in a hurry!<br>
                      Eat eggs with curry, still; do u worry?<br>
                      My columns can be the best remedy.
                    </p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/RatulPal.jpg">
                  <div class="team-position">
                    <h5>Ratul Pal</h5>
                    <p>Design Team</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/Ychoclate?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                    <p>Description</p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/ShivamBachhety.jpg" alt="some people" />
                  <div class="team-position">
                    <h5>Shivam Bachhety</h5>
                    <p>Design team</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/Ychoclate?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                    <p>Designer? Nah, Expert enough to create an illusion of colours.</p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl"data-src="img/CogniTeamPhotos/KritivasSharma.png" alt="some people" />
                  <div class="team-position">
                    <h5>Kritivas Sharma</h5>
                    <p>Columinst</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/Ychoclate?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                    <p>I am liable to start a violent spark with a silent thought.</p>
                    <p>-Eminem, 2014</p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/SaloniGupta.jpg">
                  <div class="team-position">
                    <h5>Saloni Gupta</h5>
                    <p>Proofreader</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/Ychoclate?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                    <p>Solivagant | lover of books | foodie | super clumsy | laugh at my own jokes | a bit crazy with a dash of sweetness</p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/RohitChayal.JPG">
                  <div class="team-position">
                    <h5>Rohit Chayal</h5>
                    <p>Columnist</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/Ychoclate?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                    <p>Description</p>
                  </div>
                </div>
                <div class="item">
                  <img class="lazyOwl" data-src="img/CogniTeamPhotos/BhaviniBhatia.jpg" alt="some people" />
                  <div class="team-position">
                    <h5>Bhavini Bhatia</h5>
                    <p>Publicity Executive</p>
                    <p>
                      <a style="color: currentColor" href="https://facebook.com/bhavini.bhatia.1?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </p>
                  </div>
                  <div class="team-quote">
                    <p>Live by my word, Blabbermouth, Friends call me 'Geet' from Jab We Met, Shopaholic-(Dress to Impress), Fun-loving, Extrovert.</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="tab-pane" id="BVPIEEE">
            <p>Here is your BVPIEEE content.</p>
          </div>
          <div class="tab-pane" id="HKN">
            <p>Here is your HKN content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
