<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="card">
            <div class="card__meta">
                <h3 style="text-align:center;">Admin Login</h3></div>
            <form name="adminLoginForm" role="form" ng-submit="adminLogin(adminUser, adminLoginForm.$valid)" novalidate="novalidate">
                <div class="card__content">
                    <div class="form-group">
                      <label for="admin-email" class="control-label">Enter Admin-Email</label>
                      <input id="email" class="form-control" type="text" ng-required="true" ng-model="adminUser.email"/>
                    </div>
                    <div class="form-group">
                      <label for="admin-password" class="control-label">Enter password:</label>
                      <input id="admin-password" class="form-control" type="password" ng-required="true" ng-model="adminUser.password"/>
                    </div>
                    <div class="card__article">
                      <div class="form-group">
                        <button type="submit" class="btn btn-block btn-success ">Go</button>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
