<div class="wrapper">
  <div class="register-background">
      <div class="filter-black"></div>
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                      <div class="register-card">
                          <h3 class="title">Welcome</h3>
                          <form class="register-form" name="adminLoginForm" ng-submit="adminLogin(adminUser, adminLoginForm.$valid)">
                            <div class="form-group">
                              <label>Email</label>
                              <input type="text" class="form-control" placeholder="Email" ng-required="true" ng-model="adminUser.email">
                            </div>
                              <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password" ng-required="true" ng-model="adminUser.password">
                              </div>
                              <div class="form-group">
                              <button class="btn btn-success btn-block" type="submit" ng-disabled="adminLoginForm.$invalid">Go</button>
                            </div>

                          </form>

                      </div>
                  </div>
              </div>
          </div>
      <div class="footer register-footer text-center">
              <h6>&copy; 2016, made with <i class="fa fa-heart heart"></i> by Cognizance Team</h6>
      </div>
  </div>
</div>
