<div id="cogniCarousel">
  <div id="carousel-cognizance-presentation" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-cognizance-presentation" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-cognizance-presentation" data-slide-to="1" ></li>
      <li data-target="#carousel-cognizance-presentation" data-slide-to="2" ></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active"><img class="carousel-image" src="img/cogni-website-images1.jpg"></div>
      <div class="item"><img class="carousel-image" src="img/cogni-website-images2.jpg"></div>
      <div class="item"><img class="carousel-image" src="img/cogni-website-images3.jpg"></div>
    </div>
    <a class="left carousel-control" data-target="#carousel-cognizance-presentation" data-slide="prev">
      <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" data-target="#carousel-cognizance-presentation" data-slide="next">
      <span class="fa fa-angle-right"></span>
    </a>
  </div>
</div>
<div class="section section-nude">
<masonry column-width="200" reload-on-resize preserve-order class="container main-content">
<div class="masonry-brick" ng-repeat="post in posts" style="width:350px;">
  <div class="card radius shadowDepth1">
    <div class="card__image border-tlr-radius">
      <img ng-src="{{post.imageUrl}}" alt="image" class="border-tlr-radius">
    </div>

    <div class="card__content card__padding">
      <div class="card__share">
        <div class="card__social">
          <!-- provide for the functionality of these social buttons -->
          <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
          <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
          <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
        </div>

        <a id="share" class="share-toggle share-icon" href="#"></a>
      </div>

      <div class="card__meta">
        <a href="#">{{post.theme}}</a>
        <span><i class="fa fa-calendar" aria-hidden="true"></i></span><time>{{post.issue}}</time>
      </div>

      <article class="card__article">
        <a ui-sref="read({id:post.date})"><h2>{{post.title}}</h2></a>

        <p class="post-body" ng-init="post.body=((post.body).length>500? post.body.substr(0,400)+'...': post.body)">{{post.body}}</p>
      </article>
    </div>
  </div>
</div>
</masonry>
<br>
<div class="container tim-container text-center">
  <button class="btn btn-warning btn-lg btn-fill" ng-click="loadMore();" ng-show="showLoadMore">Older</button>
</div>
<br>
</div>
<div ng-show="loading">
  <p class="text-center">Loading...</p>
</div>
<div class="section section-dark-blue" align="center" ng-controller="followCtrl">
  <h2>Never miss an Issue.<br/>
    <p>Enter your email below and we will send the link to your mailbox each month.</p>
  </h2>
  <div class="input-group text-center">
    <span class="input-group-addon"><i class="fa fa-envelope fa-2x"></i></span>
    <input type="email" name="email-input" placeholder="you@example.com" class="form-control follow-input" ng-model="followerEmail">
  </div>
</div>

<div class="section section-dark text-center landing-section">
    <div class="container">
        <h2>Let's talk about us</h2>
        <div class="col-md-4">
            <div class="team-player">
                <img src="/paper-kit/assets/paper_img/chet_faker_2.jpg" alt="Thumbnail Image" class="img-circle img-responsive">
                <h5>Deepanshu Kapoor <br><small class="text-muted">Editor-in-Chief</small></h5>
                <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="team-player">
                <img src="/paper-kit/assets/paper_img/flume.jpg" alt="Thumbnail Image" class="img-circle img-responsive">
                <h5>Kanika Sharma <br><small class="text-muted">Mentor, Editorial</small></h5>
                <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="team-player">
                <img src="/paper-kit/assets/paper_img/banks.jpg" alt="Thumbnail Image" class="img-circle img-circle img-responsive">
                <h5>Sanyam Goel <br><small class="text-muted">Mentor, Web Team</small></h5>
                <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
      <div class="text-center">
        <a ng-href="#/about-us" class="btn btn-primary btn-simple"><h5>More about us <i class="fa fa-chevron-right"></i></h5></a>
      </div>
    </div>
</div>
