<div class="row">
<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="post in posts">
  <div class="card radius shadowDepth1">
    <div class="card__image border-tlr-radius">
      <img ng-src="{{post.imageLink}}" alt="image" class="border-tlr-radius">
    </div>

    <div class="card__content card__padding">
      <div class="card__share">
        <div class="card__social">
          <!-- provide for the functionality of these social buttons -->
          <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
          <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
          <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
        </div>

        <a id="share" class="share-toggle share-icon" href="#"></a>
      </div>

      <div class="card__meta">
        <a href="#">{{post.theme}}</a>
        <time>{{post.issue}}</time>
      </div>

      <article class="card__article">
        <h2><a href="#">{{post.title}}</a></h2>

        <p>{{post.description}}</p>
      </article>
    </div>
  </div>
</div>
</div>
