<nav class="navbar navbar-ct-transparent" role="banner" id="top-banner-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="nabar-toggle" data-toggle="collapse" data-target="#banner-navigation" >
        <span class="sr-only"> Toggle navigation </span>
        <span class="icon-bar"><span>
        <span class="icon-bar"><span>
        <span class="icon-bar"><span>
      </button>
      <a href="#">
        <div class="logo-container">
          <div class="logo">
            <img src="../img/Cognizance.png" alt="Cognizance Logo">
          </div>
        </div>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="banner-navigation">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" ng-if="admin">Admin
           <span class="caret"></span>
         </a>
         <ul class="dropdown-menu dropdown-menu-right">
           <li><a ui-sref="add">Add Post</a></li>
           <li><a href="#" ng-click="">Sign Out</a></li>
         </ul>
       </li>
        <li><button class="btn btn-primary btn-simple" ui-sref="about">Who Are We?</button></li>
        <!-- open up a modal to like us on facebook and follow on twitter -->
        <li><button class="btn btn-primary btn-simple">Like us</button></li>
      </ul>
    </div>
  </div>
</nav>
