<div class="section section-white section-with-space">
  <div class="container tim-container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12">
          <div class="card radius shadowDepth1">
              <div class="panel-heading">
                  {{selectedPost.title}}
              </div>
              <div class="card__image border-tlr-radius">
                <span ng-if="iframeLoading">Loading iframe</span>
                  <iframe id="i_frame" ng-src="{{selectedPost.magLink}}" frameborder="0" allowfullscreen="true" allowtransparency="true"></iframe>
              </div>
              <div class="card__meta">
                <!-- <a href="#">{{post.theme}}</a> -->
                <span><i class="fa fa-calender" aria-hidden="true"></i></span><time>{{selectedPost.issue}}</time>
              </div>
              <article class="card__article">
                <h2><a href="#">{{selectedPost.title}}</a></h2>

                <p text-angular ng-model="selectedPost.body" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-active-button-class="active" class="post-body" >{{selectedPost.body}}</p>
              </article>
          </div>
      </div>
    </div>

 <!-- have to enable disqus comments preferably -->
  <!-- <div class="row">
      <div class="col-sm-12" ng-cloak>
          <div container-fluid id="comments">
              <div id ="FC" class="fb-comments" data-href="" data-order-by="reverse_time" data-numposts="11"></div>
          </div>
      </div>
  </div> -->
  </div>
</div>


<div class="section landing-section comment-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tim-title">
          <h4>Comment Section:</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <dir-disqus config="disqusConfig" disqus-on-ready="disqusLoaded();"></dir-disqus>
      </div>
    </div>
  </div>
</div>
