<div class="section section-nude landing-section">
  <div ng-show="loading" style="margin-top: 50%; margin-left: 50%;">
    <p>Loading...</p>
  </div>
  <div class="container tim-container" ng-show="!loading">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12">
          <div class="card radius shadowDepth1 noshadow">
              <div class="card__image border-tlr-radius">
                  <iframe id="i_frame" ng-src="{{selectedPost.magLink}}" frameborder="0" allowfullscreen="true" allowtransparency="true"></iframe>
              </div>
              <div class="card__meta">
                <!-- <a href="#">{{post.theme}}</a> -->
                <span><i class="fa fa-calender" aria-hidden="true"></i></span><time>{{selectedPost.issue}}</time>
              </div>
              <article class="card__article">
                <h2><a href="#">{{selectedPost.title}}</a></h2>
                <p class="post-body">{{selectedPost.body}}</p>
                <p ng-if="user" text-angular ng-model="selectedPost.body" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-active-button-class="active" class="post-body" >{{selectedPost.body}}</p>
              </article>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-light-brown comment-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tim-title">
          <h4>Leave a comment:</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <dir-disqus config="disqusConfig" disqus-on-ready="disqusLoaded();"></dir-disqus>
      </div>
    </div>
  </div>
</div>
